# Dependencies
node_modules
**/node_modules

# Build outputs
dist
build
.next
.output
.nitro

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage
coverage
*.lcov

# Lock files
pnpm-lock.yaml
package-lock.json
yarn.lock

# Misc
.DS_Store
*.pem
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Cache
.cache
.turbo
.eslintcache


